.idea {
    width: 800px;
    margin: 10px auto;
    display: block;
}

#idea-prompt {
}

#idea-textarea {
    height: 500px;
}

#feedback-list {
    list-style-type: none;
    width: 800px;
    display: block;
}
